@import '~antd/lib/style/themes/default.less';

.content {
  margin-bottom: @padding-lg;

  .pageTitle {
    padding: @padding-lg 0;
    text-align: center;
    border-bottom: 1px solid @border-color-split;
    font-style: italic;
  }

  .microblogRow {
    border-bottom: 1px solid @border-color-split;
    padding-top: @padding-sm;

    .microblogMeta {
      color: @text-color-secondary;
      font-size: @font-size-sm;
      margin-bottom: @padding-sm;
    }

    .microblogImg {
      img {
        box-sizing: border-box;
        width: 100%;
      }
      margin-bottom: @padding-xs;
    }

    .microblogContent {
      h2 {
        margin: @padding-md 0 !important;
        padding-bottom: 4px;
        border-bottom: 1px solid @border-color-split;
      }

      p:first-child,
      ul:first-child {
        margin-top: @padding-sm;
      }
    }
  }

  .paginator {
    padding-top: @padding-sm;
    font-size: @font-size-base;
  }
}
