@import '~antd/lib/style/themes/default.less';

.content {
  .pageTitle {
    padding: @padding-lg 0;
    text-align: center;
    border-bottom: 1px solid @border-color-base;
    font-style: italic;
  }

  .filter {
    padding: @padding-md 0;
    font-style: italic;
  }

  .snippetList {
    padding-bottom: @padding-lg;

    .snippetItem {
      padding: @padding-md 0;
      border-top: 1px solid @border-color-base;

      &:last-child {
        border-bottom: 1px solid @border-color-base;
      }

      .snippetTag {
        margin-right: 0;
        font-family: 'Source Code Variable', 'Source Code Pro', Monaco, 'Consolas', 'ubuntu',
          monospace;
      }
    }
  }

  .detail {
    margin: @padding-lg 0;

    .title {
      margin-bottom: @padding-md;
      border-bottom: 1px solid @border-color-split;

      h1 {
        margin: 0 0;
        padding: 0 0;
        padding-bottom: @padding-sm;
        font-size: @font-size-base + 12;
        line-height: @font-size-base + 12;
        font-weight: normal;
      }

      .meta {
        color: @text-color-secondary;
      }
    }

    .code {
      pre code {
        font-family: 'Source Code Variable', 'Source Code Pro', Monaco, 'Consolas', 'ubuntu',
          monospace !important;
      }
    }
  }
}
