@import '~antd/lib/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .ant-layout-header {
    background: #24292e !important;
    padding: 0 0 !important;
    height: 56px !important;
    line-height: 56px !important;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid @border-color-split;
    padding: 0;
  }

  @border-color-split: #f0f0f0;

  .markdownContent {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      padding: 0 0;
      margin: 0 0;
      font-weight: normal;
    }

    h1,
    h2 {
      font-size: @font-size-base + 8;
      margin: @padding-lg 0 (@padding-lg - 4) 0 !important;
    }

    h3 {
      font-size: @font-size-base + 4;
      margin: 20px 0 20px !important;
    }

    h4 {
      font-size: @font-size-base + 2 !important;
      margin: 20px 0 20px;
    }

    p {
      text-align: justify;
    }

    img {
      display: block;
      vertical-align: middle;
      page-break-inside: avoid;
      max-width: 100%;
      border: 1px solid @border-color-split;
      margin: 0 auto;
    }

    pre,
    code {
      font-size: @font-size-base - 1;
      color: @text-color;
      background-color: #eef;
      border-radius: 2px;
    }

    pre {
      padding: @padding-md;
    }

    code {
      padding: 1px 5px;
    }

    pre code {
      padding: 0 0;
    }

    blockquote {
      padding: 0 @padding-md;
      margin: @padding-md 0;
      border-left: 2px solid rgba(40, 50, 60, 0.85);
      overflow: auto;
      word-wrap: break-word;
    }

    blockquote p {
      color: @text-color-secondary;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.container {
  width: 720px;
  margin: 0 auto;
}
