@import '~antd/lib/style/themes/default.less';

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}

canvas {
  display: block;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:global {
  .ant-layout-header {
    background: #24292e !important;
    padding: 0 0 !important;
    height: 56px !important;
    line-height: 56px !important;
  }
}

.container {
  width: 720px;
  margin: 0 auto;
}
