@import '~antd/lib/style/themes/default.less';

ul.blogMeta {
  padding-left: 20px;
  margin-bottom: 0;
}

.content {
  padding-bottom: @padding-lg;

  .blogRow {
    padding: @padding-sm 0;
    border-bottom: 1px solid @border-color-base;

    .blogTitle {
      font-size: @font-size-base + 6;
    }

    .blogMeta {
      padding-top: @padding-xs / 2;
      color: @text-color-secondary;
      a {
        color: @text-color-secondary;

        &:hover {
          color: @text-color;
        }
      }
    }

    .blogAbstract {
      padding-top: @padding-xs / 2;
      color: @text-color-secondary;
      text-align: justify;
    }
  }

  .more {
    margin: @padding-lg 0 @padding-lg;
  }

  .pageTitle {
    padding: @padding-lg 0;
    text-align: center;
    border-bottom: 1px solid @border-color-base;
    font-style: italic;
  }

  .article {
    padding: @padding-lg 0;

    .title {
      border-bottom: 1px solid @border-color-base;
      padding-bottom: @padding-sm;
      margin-bottom: @padding-md;

      h1 {
        margin: 0 0;
        padding: 0 0;
        font-size: @font-size-base + 12;
        font-weight: normal;
      }
    }

    .coverImg {
      img {
        width: 100%;
      }

      .copyright {
        text-align: right;
        color: @text-color-secondary;
        margin-top: @padding-xs;
        margin-bottom: @padding-md;
        font-style: italic;
      }
    }
  }

  .archiveRow {
    h2 {
      font-size: @font-size-base + 8;
      margin: @padding-md 0 (@padding-md - 4) 0 !important;
    }

    &:last-child {
      padding-bottom: @padding-lg;
    }
  }
}
