@import '~antd/lib/style/themes/default.less';

.content {
  .blogRow {
    padding: @padding-lg 0;
    border-bottom: 1px solid @border-color-split;

    .blogMeta {
      margin-bottom: @padding-xs;
    }

    .blogTitle {
      margin-bottom: @padding-xs;
      font-size: @font-size-base + 6;
    }

    .blogAbstract {
      text-align: justify;
    }
  }

  .more {
    margin: @padding-lg 0 @padding-lg;
  }

  .pageTitle {
    padding: @padding-lg 0;
    text-align: center;
    border-bottom: 1px solid @border-color-split;
    font-style: italic;
  }

  .article {
    padding-top: @padding-lg;
    border-bottom: 1px solid @border-color-split;

    .title {
      border-bottom: 1px solid @border-color-split;
      margin-bottom: @padding-md;

      h1 {
        margin: 0 0;
        padding: 0 0;
        font-size: @font-size-base + 12;
        font-weight: normal;
      }

      .meta {
        padding: @padding-xs 0 @padding-sm;
        color: @text-color-secondary;

        .metaItem {
          margin-right: @padding-lg;

          a {
            color: @text-color-secondary;

            &:hover {
              color: @text-color;
            }
          }
        }
      }
    }

    .coverImg {
      img {
        box-sizing: border-box;
        width: 100%;
        margin-bottom: @padding-xs;
      }

      .copyright {
        text-align: right;
        color: @text-color-secondary;
        margin-bottom: @padding-md;
        font-style: italic;
      }
    }
  }

  .comment {
    .commentDivHeader {
      font-size: @font-size-lg;
      padding: @padding-md 0;
      color: @heading-color;
    }

    .commentRow {
      .commentMeta {
        margin-bottom: @padding-sm - 4;
      }

      .commentContent {
        margin-bottom: @padding-sm;

        p {
          text-align: justify;
        }

        p:last-of-type {
          margin-bottom: 0;
        }

        h1,
        h2,
        h3,
        h4,
        h5 {
          font-size: @font-size-base + 2;
          margin: 20px 0 20px;
        }
      }
    }

    .postComment {
      .formRow {
        margin-bottom: @padding-sm;
      }
    }
  }

  .archiveRow {
    h2 {
      font-size: @font-size-base + 8;
      margin: @padding-md 0 (@padding-md - 4) 0 !important;
    }

    &:last-child {
      padding-bottom: @padding-lg;
    }
  }
}
